*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}
main{
    min-height: 100vh;
}

.main-container{
  min-height: inherit;
}
.newslide{
  min-height: inherit;
  display: flex;
}

#slide-second{
  display: none;
}
section.left{
    width: 65%;
    background-color:#15181B;
    padding: 20px;
    position: relative;
}
.logo{
  transform: rotate(15deg);
}
section.left .slider-container{
    position: absolute;
    width: 80%;
    top: 25%;
    left: 175px;
    /* overflow: hidden; */
    /* background-color: red; */
}
section.left .slider-container .slider{
    display: 100%;
}

section.left .slider-container .slider .slides{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
}

section.left .slider-container .slider .slides .slide{
    flex: 1;
    height: 320px;
}


section.middle{
    width: 5%;
    background-color: #B9A0FF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

section.middle p{
    writing-mode: vertical-rl;
    font-weight: 600;
    letter-spacing: .5px;
}
section.right{
    width: 30%;
    background-color: #15181B;
    padding: 20px;
    z-index: 2;
}
section.right .top-title{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    }

    section.right .event-name{
        margin: 40px 0px 0px 0px;
        font-weight: 700;
        font-size: 32px;
        color: #ffffff;
    }

.left-header-top {
display: flex;
align-items: center;
justify-content: flex-start;
gap: 10px;
}

.title-name{
    height: calc(100% - 25%);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 20px; */
}
.title-name div{
    font-size: 80px;
    font-weight: 700;
    color: gray;
}

.venue-at{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.location, .timing{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 15px 0px 0px 0px;
}

.event-details{
    margin: 15px 0px 0px 0px;
    width: 80%;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .15px;
}
.artist-avatar{
    margin: 15px 0px 0px 0px;
}
.artist-avatar p{
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.artist-card{
    margin: 30px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.artist-card .card{
    height: 100px;
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
}
.artist-card .card img{
    /* object-fit: contain; */
}

.artist-card .card:nth-child(even){
    transform: scale(1.2);
}

.qr-code-container{
    margin: 35px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.qr-code-container .join-btn{
    margin-top: auto;
}
.qr-code-container .join-btn button{
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 14px;
    outline: none;
    border: 0;
    background-color: #FFCA5F;
    cursor: pointer;
}
.qr-code-container .qr-code{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 5px;
}

.qr-code-container .qr-code img{
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    width: 280px!important;
    height: 320px;
    position: relative;
  }

  .card-event{
    position: absolute;
    bottom:0px;
    color: #ffffff;
    font-size: 24px;
    left: 0;
    padding: 10px;
    font-weight: 700;
  }
  .card-location{
    position: absolute;
    bottom: -30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .swiper-slide-active {
    transform: translateY(-10px)
  }

  .swiper-slide img {
    /* display: block; */
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .btn-container{
    margin-top: 50px;
  }
  
  .event-btn{
    background-color:#484E56;
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius:50px;
    z-index: 2;
    position: relative;
    color: #ffffff;
    cursor: pointer;
  }
  .collections-btn{
    background-color:gray;
    outline: none;
    border: none;
    padding: 8px 25px;
    border-radius: 50px;
    margin-left: -25px;
    z-index: 1;
    color: #ffffff;
    text-align: right;
    cursor: pointer;
  }

  .active {
  background-color: #484E56;
}

.collections-btn.active {
  margin-left: 0;
  background-color: gray;
}

  .live-in{
    margin-top: 15px;
    color: #ffffff;
    font-weight: 700;
  }

  .audience-avatar-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 15px;
  }

  .audience-avatar-container > .audience-avatar:not(:first-child){
    margin-left: -20px;
  }
  .audience-avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
  }

  .audience-avatar img{
    width: 100%;
  }

  .audience-count{
    color: #ffffff;
    font-weight: 700;
  }
  .collectibles-container{
    margin-top: 15px;
    color: #ffffff;
    font-weight: 700;
  }

  .collectible-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 15px;
  }

  .collectible-card .coll-cards{
    height: 150px;
  }

  .collectible-card .coll-cards img{
    height: 100%;
  }
  
  .joinlist-btn{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: flex-end;
  }

  .joinlist-btn .join-btn button{
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 14px;
    outline: none;
    border: 0;
    background-color: #FFCA5F;
    cursor: pointer;
  }
  